body {
    background-color: #DC384E;
    font-size: 16px;
    color: #fff;
    font-family: Montserrat, sans-serif;
}

ul {
    list-style-type: none;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #DC384E;
    padding: 8px 20px;
}

nav a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    line-height: 1, 75;
}

.sub-menu {
    display: flex;
    gap: 8px;
}

.menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    display: none;
}

.menu-btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
}

.menu-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
}

.menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
}

.menu ul {

    display: flex;
    justify-content: space-between;
}

.menu li {
    display: block;
    padding: 0 1em;
}

.heart {
    display: flex;
    justify-content: space-between;
}

.heart img {
    width: 100%;
    height: 100%;
}

main {
    padding-top: 130px;
    margin: 0 20px;

}

h1 {
    font-size: 74px;
}

.heart {
    font-size: 20px;
}

.heart-text, .heart-img {
    max-width: 50%;
}

.heart button {
    cursor: pointer;
    padding: 12px;
    font-weight: bold;
}

.solder {
    background-color: #DC384E;
    color: #fff;
    border: 2px solid #fff;
}

.myself {
    background-color: #fff;
    color: #070707;
    border: none;
}

.work {
    padding: 200px 0 90px;
}

.work h2 {
    margin-bottom: 70px;
    max-width: 700px;
}

.work-items {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.new-recept {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 8px;
}

.new-recept-img,
.new-recept-text {
    max-width: 50%;
}

.new-recept img {
    width: 100%;
    height: 100%;
}

.new-recept-text h2 {
    font-size: 64px;
}

.our-product {
    text-align: center;
}

.product-button {
    text-align: center;
}

.product {
    margin-bottom: 70px;
}

.vege,
.meat {
    cursor: pointer;
    padding: 12px;
    font-weight: bold;
}

.vege {
    background-color: #DC384E;
    color: #fff;
    border: 2px solid #fff;
}

.meat {
    background-color: #fff;
    color: #070707;
    border: none;
}

.dish {
    display: flex;
    justify-content: space-evenly;
    gap: 5%;
}

.dish h4,
.price {
    font-size: 30px;
    margin: 12px 0;
}

.banosh-img5,
.banosh-img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banosh1,
.banosh5 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.portion {
    color: yellow;
    text-transform: lowercase;
}

.review {
    background-color: #fff;
    height: 200px;
    color: #090909;
    margin: 20px -20px;
    text-align: center;
    padding: 20px;
}

.review-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 12px;
}
 .review-item {
    border: 1px solid gray;
}

 .review-item:hover {
    background-color: yellow;
    color: blue;
 }

footer {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    border-bottom: 3px solid #fff;
}

.links {
    columns: 2;

}

footer a {
    color: #fff;
    text-decoration: none;
}

.under-footer {
    text-align: center;
}

@media screen and (max-width: 1024px) {
   
    nav {
        justify-content: space-between;
    }

    .menu-btn {
        display: initial;
    }

    .menu {
        display: none;
    }

    .heart {
        flex-wrap: wrap;
    }

    .heart-text, .heart-img {
            max-width: 100%;
    }

    footer {
        flex-wrap: wrap;
    }

    .links {
        columns: 1;
    }

}

@media screen and (max-width: 767px) {

    body {
        font-size: 14px;
    }

    .new-recept {
            flex-wrap: wrap;
        }
    
        .new-recept-img,
        .new-recept-text {
            max-width: 100%;
        }
}